*{
    margin:0;
    padding: 0;

}


body {
    background: linear-gradient( 50deg, rgba(182, 115, 226, 0.986), rgb(72, 224, 230), rgb(104, 126, 167) );
    background-size:300% 300%;
    position:relative;
}
main{
  text-align: center;
  height: 100vh; display: grid; place-items: center;
}


h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight:100;
    color:black;
    text-shadow: 0 2px 4px gray;
  
 


}


#di{

    background: rgba(216, 206, 206, 0.5);
    padding-top: 200px;
    border:solid 1px rgb(211, 207, 207);
    width: 200px;
    margin:auto;
    margin-left:50%;
    transform: translateX(-50%) translateY(50%);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px 0 rgb(116, 111, 111), 0 6px 20px 0 rgb(70, 68, 68);
   
}



.contairne{
 text-align: center;
 margin-top: 20vh;
 margin-bottom: 5rem ;


}
button{
    cursor: pointer;
    border:none;
    color:white;
    padding: 5px 10px;
    background-color: grey;
    text-decoration: none;
    width: 80px;

    
  
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
     0 17px 50px 0 rgba(0,0,0,0.19);
     
}
#divv{
    font-size:40px;
   margin-top: -1.4rem;
   animation-iteration-count:ease-in;
}
.whatsapp{
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #000;
    z-index: 1000;

}
.fa-whatsapp{
    margin-top: 15px;
}
.mudar{
    
    animation-name: move;
    animation-duration: 500ms;
    animation-iteration-count:infinite;

}

 
@keyframes move {
    from{
        opacity: 0;
        transform: translateY(-25%) ;
    } 
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}


